@{
    ViewData["Title"] = "Home Page";
}
<partial name="_AlertMessage" />
<div class="text-center">
    <h1 class="display-4">Xin chao</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    @Url.ActionLink()
</p>
<p>
    @Url.Action()
</p>
<p>
    @Url.Action("Privacy", new { id = 123, name = "XuanThuLab" })
</p>
<p>
    @Url.Action("Jupiter", "Planet")
</p>
<p>
    @Url.Action("PlanetInfo", "Planet", new { id = 3 })
</p>

<p>
    @Url.Action("Index", "Product", new { area = "ProductManage", id = 123 })
</p>
<p>
    @Url.RouteUrl("default", new { action = "HelloView", controller = "Home", id = 123, name = "XuanThuLab" })
</p>
<p>
    @Url.RouteUrl("neptune2")
</p>
<a asp-action="ViewProduct" asp-controller="First">Vi du 1</a>
<a asp-action="PlanetInfo" asp-controller="Planet" asp-route-id="3">vi du 2</a>
<a asp-action="PlanetInfo" asp-controller="Planet" asp-route-id="3" asp-route-name="xuanthulab" asp-route-abc="xyz">vi
    du 3</a>
@{
    var routedata = new Dictionary<string, string>(){
{"name", "xuanthulab"}, {"abc", "xyz"},{"id", "3"}
};
}
<a asp-action="PlanetInfo" asp-controller="Planet" asp-all-route-data="@routedata">vi du 4</a>
<a asp-action="PlanetInfo" asp-controller="Planet" asp-all-route-data='new Dictionary<string,string>(){
        {"name", "xuanthulab"}, {"abc", "xyz"},{"id", "3"}
        };'>vi du 5</a>
<a asp-action="Index" asp-controller="Product" asp-area="ProductManage" asp-all-route-data='new Dictionary<string,string>(){
        {"name", "xuanthulab"}, {"abc", "xyz"},{"id", "3"}
        };'>vi du 6</a>
<br>
<textarea name="" id="summernote"></textarea>
<textarea name="" id="summernote2"></textarea>

@* @section Scripts {
<script src="~/lib/summernote/summernote-bs5.min.js"></script>
<link rel="stylesheet" href="~/lib/summernote/summernote-bs5.min.css">
} *@

@* <script src="~/lib/summernote/summernote-bs5.min.js"></script>
<link rel="stylesheet" href="~/lib/summernote/summernote-bs5.min.css">
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: 'Hello stand alone ui',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });

    });




</script> *@
 @{
    var summernote = new AppMvc.Net.Models.Summernote("#summernote");
    var summernote2 = new AppMvc.Net.Models.Summernote("#summernote2", false);
}
<partial name="_Summernote"model="summernote"/>
<partial name="_Summernote"model="summernote2"/>
<i class="fas fa-folder" style="font-size: 250px; color: red;"></i>

